
#footer {
    text-align: center;
    position: absolute;
	width: 80%;
	bottom: 0;
}

.box {
    float: left;
}

.inputarea {
	overflow: hidden;
}

/* clearfix */
.inputarea:before,
.inputarea:after {
    content: "";
    display: table;
}
 
.inputarea:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.inputarea {
    zoom: 1;
}
